<div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">
            hueKNEW
          </a>
          <ul class="nav">
            <li>
              <a href="#">
                Color
              </a>
            </li>
            <li>
              <a href="#">
                Season
              </a>
            </li>
            <li>
              <a href="#">
                Season
              </a>
            </li>
          </ul>
          <form class="navbar-form pull-right">
          </form>
        </div>
      </div>
    </div>