<meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <script src="{{ MEDIA_URL }}js/rickshaw/vendor/d3.v2.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Class.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Compat.ClassList.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Renderer.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Renderer.Area.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Renderer.Line.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Renderer.Bar.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Renderer.ScatterPlot.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.RangeSlider.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.HoverDetail.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Annotate.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Legend.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Axis.Time.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Behavior.Series.Toggle.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Behavior.Series.Order.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Behavior.Series.Highlight.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Smoother.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Unstacker.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Fixtures.Time.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Fixtures.Number.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Fixtures.RandomData.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Fixtures.Color.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Color.Palette.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Axis.Y.js"></script>
    
    <script src="{{ MEDIA_URL }}js/rickshaw-extensions.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap-responsive.min.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/graph.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}js/rickshaw/src/css/graph.css">
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}js/rickshaw/src/css/detail.css">
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}js/rickshaw/src/css/legend.css">
    