<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <script src="{{ MEDIA_URL }}js/rickshaw/vendor/d3.v2.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/vendor/d3.layout.min.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Class.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Compat.ClassList.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Renderer.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Renderer.Area.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Renderer.Line.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Renderer.Bar.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Renderer.ScatterPlot.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.RangeSlider.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.HoverDetail.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Annotate.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Legend.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Axis.Time.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Behavior.Series.Toggle.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Behavior.Series.Order.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Behavior.Series.Highlight.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Smoother.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Unstacker.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Fixtures.Time.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Fixtures.Number.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Fixtures.RandomData.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Fixtures.Color.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Color.Palette.js"></script>
    <script src="{{ MEDIA_URL }}js/rickshaw/src/js/Rickshaw.Graph.Axis.Y.js"></script>
    
    <script src="{{ MEDIA_URL }}js/rickshaw-extensions.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap-responsive.min.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/graph.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}js/rickshaw/src/css/graph.css">
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}js/rickshaw/src/css/detail.css">
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}js/rickshaw/src/css/legend.css">
    


    <style>
    </style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">
            hueKNEW
          </a>
          <ul class="nav">
            <li>
              <a href="#">
                Color
              </a>
            </li>
            <li>
              <a href="#">
                Season
              </a>
            </li>
            <li>
              <a href="#">
                Season
              </a>
            </li>
          </ul>
          <form class="navbar-form pull-right">
          </form>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="hero-unit">
        <div>
          <h1>
            COLORS by Year
          </h1>
          <p>
            See how often a color appears by year.
          </p>
        </div>
        <a class="btn btn-primary" href="#">
          Show me baby! »
        </a>
      
      </div>

    <button type="button" class="btn btn-primary btn-graphTypeForm" value="line">Line</button>
    <button type="button" class="btn btn-primary btn-graphTypeForm" value="area">Area</button>
    <button type="button" class="btn btn-primary btn-graphTypeForm" value="bar">Bar</button>
    <button type="button" class="btn btn-primary btn-graphTypeForm" value="scatterplot">scatterplot</button>

    <form id="side_panel">
    <h1>Random Data in the Future</h1>
    <section><div id="legend"></div></section>
    
    <section>

      <div id="renderer_form" class="toggler">
        <input type="radio" name="renderer" id="area" value="area" checked>
        <label for="area">area</label>
        <input type="radio" name="renderer" id="bar" value="bar">
        <label for="bar">bar</label>
        <input type="radio" name="renderer" id="line" value="line">
        <label for="line">line</label>
        <input type="radio" name="renderer" id="scatter" value="scatterplot">
        <label for="scatter">scatter</label>
      </div>
    </section>
    <section>
      <div id="offset_form">
        <label for="stack">
          <input type="radio" name="offset" id="stack" value="zero" checked>
          <span>stack</span>
        </label>
        <label for="stream">
          <input type="radio" name="offset" id="stream" value="wiggle">
          <span>stream</span>
        </label>
        <label for="pct">
          <input type="radio" name="offset" id="pct" value="expand">
          <span>pct</span>
        </label>
        <label for="value">
          <input type="radio" name="offset" id="value" value="value">
          <span>value</span>
        </label>
      </div>
      <div id="interpolation_form">
        <label for="cardinal">
          <input type="radio" name="interpolation" id="cardinal" value="cardinal" checked>
          <span>cardinal</span>
        </label>
        <label for="linear">
          <input type="radio" name="interpolation" id="linear" value="linear">
          <span>linear</span>
        </label>
        <label for="step">
          <input type="radio" name="interpolation" id="step" value="step-after">
          <span>step</span>
        </label>
      </div>
    </section>
    <section>
      <h6>Smoothing</h6>
      <div id="smoother"></div>
    </section>
    <section></section>
  </form>

  <div id="chart_container">
    <div id="chart"></div>
    <div id="timeline"></div>
    <div id="slider"></div>
  </div>


      <div class="row">
        <div class="span4">
          <img src="http://i.imgur.com/Asf2J.jpg" style=" width: 200px; height: 261px;">
        </div>
        <div class="span4">
          <img src="http://i.imgur.com/Asf2J.jpg" style=" width: 200px; height: 261px;">
        </div>
        <div class="span4">
          <img src="http://i.imgur.com/Asf2J.jpg" style=" width: 200px; height: 261px;">
        </div>
      </div>
      <hr>
      <div>
        © hueKNEW
      </div>
    </div>

    <script type="text/javascript" src="{{ MEDIA_URL }}js/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/libraries/underscore.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/libraries/backbone.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/libraries/backbone.marionette.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/hearst-api.js"></script>
    <script>

      // set up our data series with 50 random data points

      var seriesData = [ [], [], [], [], [], [], [], [], [] ];
      var random = new Rickshaw.Fixtures.RandomData(150);

      for (var i = 0; i < 150; i++) {
        random.addData(seriesData);
      }

      var palette = new Rickshaw.Color.Palette( { scheme: 'classic9' } );

      // instantiate our graph!

      var graph = new Rickshaw.Graph( {
        element: document.getElementById("chart"),
        width: 400,
        height: 500,
        // renderer: 'area',
        // renderer: 'bar',
        stroke: true,
        series: [
          {
            color: "rgb(0, 23, 255)",
            data: [ { x: -1893456000, y: 25868573 }, { x: -1577923200, y: 29662053 }, { x: -1262304000, y: 34427091 }, { x: -946771200, y: 35976777 }, { x: -631152000, y: 39477986 }, { x: -315619200, y: 44677819 }, { x: 0, y: 49040703 }, { x: 315532800, y: 49135283 }, { x: 631152000, y: 50809229 }, { x: 946684800, y: 53594378 }, { x: 1262304000, y: 55317240 } ],
            name: 'Paris'
          }, {
            color: palette.color(),
            data: [ { x: -1893456000, y: 29888542 }, { x: -1577923200, y: 34019792 }, { x: -1262304000, y: 38594100 }, { x: -946771200, y: 40143332 }, { x: -631152000, y: 44460762 }, { x: -315619200, y: 51619139 }, { x: 0, y: 56571663 }, { x: 315532800, y: 58865670 }, { x: 631152000, y: 59668632 }, { x: 946684800, y: 64392776 }, { x: 1262304000, y: 66927001 } ],
            name: 'Milan'
          }, {
            color: palette.color(),
             data: [ { x: -1893456000, y: 29389330 }, { x: -1577923200, y: 33125803 }, { x: -1262304000, y: 37857633 }, { x: -946771200, y: 41665901 }, { x: -631152000, y: 47197088 }, { x: -315619200, y: 54973113 }, { x: 0, y: 62795367 }, { x: 315532800, y: 75372362 }, { x: 631152000, y: 85445930 }, { x: 946684800, y: 100236820 }, { x: 1262304000, y: 114555744 } ],
            name: 'London'
          }, {
            color: palette.color(),
            data: [ { x: -1893456000, y: 7082086 }, { x: -1577923200, y: 9213920 }, { x: -1262304000, y: 12323836 }, { x: -946771200, y: 14379119 }, { x: -631152000, y: 20189962 }, { x: -315619200, y: 28053104 }, { x: 0, y: 34804193 }, { x: 315532800, y: 43172490 }, { x: 631152000, y: 52786082 }, { x: 946684800, y: 63197932 }, { x: 1262304000, y: 71945553 } ],
            name: 'New York'
          }
        ]
      } );
      graph.renderer = 'bar';
      graph.render();
      // var slider = new Rickshaw.Graph.RangeSlider( {
      //   graph: graph,
      //   element: $('#slider')
      // } );

      var hoverDetail = new Rickshaw.Graph.HoverDetail( {
        graph: graph
      } );

      // var annotator = new Rickshaw.Graph.Annotate( {
      //   graph: graph,
      //   element: document.getElementById('timeline')
      // } );

      var legend = new Rickshaw.Graph.Legend( {
        graph: graph,
        element: document.getElementById('legend')

      } );

      var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
        graph: graph,
        legend: legend
      } );

      // var order = new Rickshaw.Graph.Behavior.Series.Order( {
      //   graph: graph,
      //   legend: legend
      // } );

      // var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight( {
      //   graph: graph,
      //   legend: legend
      // } );

      // var smoother = new Rickshaw.Graph.Smoother( {
      //   graph: graph,
      //   element: $('#smoother')
      // } );

      var ticksTreatment = 'glow';

      var xAxis = new Rickshaw.Graph.Axis.Time( {
        graph: graph,
        ticksTreatment: ticksTreatment
      } );

      xAxis.render();

      var yAxis = new Rickshaw.Graph.Axis.Y( {
        graph: graph,
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
        ticksTreatment: ticksTreatment
      } );

      yAxis.render();

            // var graphTypeForm = $('.btn-graphTypeForm');
      $('.btn-graphTypeForm').click(function(e) {
        var offsetMode = e.target.value;

        if (offsetMode == 'lines') {
                graph.setRenderer('line');
                // graph.offset = 'zero';
        } else {
                graph.renderer = offsetMode;
                // graph.setRenderer(offsetMode);
                // graph.offset = offsetMode;
        }       
        graph.render();
        // graph.update();

      });

      // var controls = new RenderControls( {
      //   element: document.querySelector('form'),
      //   graph: graph
      // } );

      // add some data every so often

      // var messages = [
      //   "Changed home page welcome message",
      //   "Minified JS and CSS",
      //   "Changed button color from blue to green",
      //   "Refactored SQL query to use indexed columns",
      //   "Added additional logging for debugging",
      //   "Fixed typo",
      //   "Rewrite conditional logic for clarity",
      //   "Added documentation for new methods"
      // ];

      // setInterval( function() {
      //   random.addData(seriesData);
      //   graph.update();

      // }, 3000 );

      // function addAnnotation(force) {
      //   if (messages.length > 0 && (force || Math.random() >= 0.95)) {
      //     annotator.add(seriesData[2][seriesData[2].length-1].x, messages.shift());
      //   }
      // }

      // addAnnotation(true);
      // setTimeout( function() { setInterval( addAnnotation, 6000 ) }, 6000 );

      </script>
    
  </body>
</html>
